standard-designs = {
    battleship = battleship
    cruiser = cruiser
    defender = defender
    destroyer = destroyer
    recon = recon
    scout = scout
    transport = transport
}

init = {
    cash = 1000
    pop = ~1000
    ind = 800
    material = 1000
}

ships = {
    scout = 2
    transport = 2
    defender = 1
    recon = 2
    destroyer = 10
}